<%= form_tag updatepass_path, class: 'form-horizontal well' do %>
  <fieldset>
    <p class="f_legend">Ganti Password</p>
    <div class="control-group">
      <label class="control-label">Password Baru</label>
      <div class="controls">
        <%= password_field_tag :newpassword, nil, class: 'span4' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password Confirmation</label>
      <div class="controls">
        <%= password_field_tag :newpassword_confirm, nil, class: 'span4' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= submit_tag 'Simpan', class: 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
<% end %>
